@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

*{margin:0;padding:0;box-sizing: border-box; }
.header{width:100%;overflow: hidden;}
.logo{width:15%; float: left;}
.companyname{width:60%; float:left;height: 70px;margin-top: 26px;margin-right: 10%;font-family: serif; }
.companyname p{font-weight:bold; font-size: 52px;text-align: center;padding-left: 20px;}
.navbar{position:sticky;top:0px;
  background-color: #f9d991;
  z-index: 300;}
/* .logo{
  width: 100px;
  height: 100px;
} */
.logo img{width:200px; height: 100px;margin: 10px;filter: brightness(1.1);}
.kathalogo img{width:120px; height: 120px;right: 0%;}
.slider{
  width: 100vw;
  height: 70vh;
  position: relative;
}
.lead{
  line-height: 6vh;
}
.strong{
  font-weight: 900;
}
.line{
  width: 18vw;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}
.line2{
  width: 20vw;
}
.collapse ul li a{
  color: #000;
  font-size: 20px;
  font-family: 'Merriweather', serif;
}
/* code for boy and girl */
.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
}
.marchant{
    background-color: aqua;
    text-align: center; padding:20px 0px;
}
.active{
  font-size: 25px;
  border-bottom: 2px solid black;
  margin-bottom: 10px;
  font-weight: 900;
}
.detail{
  width: 300px;
  height: 300px;
}
.detail img{
  width: 100%;
}
.float{
  margin-right: 10px;
}
.vision{
  filter:hue-rotate(2);
}
/* Login with google start code */

tr ,td ,th{
  /* border: 1px solid rgba(0,0,0,.25); */
  text-align: center;
  padding: 10px 20px;
}
table{
  border-radius: 50px;
  box-shadow: 10px 10px rgba(0,0,0,.25),-10px -10px rgba(0,0,0,.25),10px 0px rgba(0,0,0,.25),0px 10px rgba(0,0,0,.25);

}
/* Login with google end code */
.google-btn {
    width: 100%;
    height: 42px;
    background-color:blue;
    border-radius:2px;
    box-shadow:0 3px 4px 0 rgba(0,0,0,.25);
}
.btn-text {
   margin-left:40px;
   position: relative;
    bottom: 24px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
  }
  .searchicon{
    position: relative;
    left:20px;
  }
  .searchabout{ position: relative;
    left: 25px;}
  input[type="search"]{padding-left: 30px;}
  


.cardcolor{
  background-color:rgb(247,207,150);
}
  @media only screen and (max-width: 600px) {
.logo img {
  width: 150px;
  height: 80px;
    }
    .kathalogo img{
      margin-top: 10px;
      width: 80px;
      height: 80px;
      margin-left: 200px;
    }
    .companyname{
      display: none;
    }
    video{
      width: 50vw;
    }
  }
